.home-anchor {
  position: fixed;
  bottom: 40px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: transparent;
  border-radius: 50%;
  color: none;
  cursor: pointer;
}
.icon-angle {
  stroke-width: 2px;
  stroke: rgba(106, 114, 114, 0.1);
  fill: var(--input-color-theme-light);
}

.icon-angle:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .icon-angle:hover {
    fill: var(--accent-color);
  }
}
