.btn-all-categories {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
  cursor: pointer;
  padding: 14px 29px;
  border-radius: 15px;
  border: 1px solid #05050533;
  background-color: #f8f8f8;
  color: #05050580;
}

.btn-all-categories:hover,
.btn-all-categories:focus {
  color: #f8f8f8;
  background-color: #9bb537;
  border: 1px solid #9bb537;
}

.categories-list {
  width: 100%;
  height: 198px;
  overflow-y: scroll;
}

.categories-list::-webkit-scrollbar {
  width: 8px;
  height: 116px;
}

.categories-list::-webkit-scrollbar-thumb {
  background-color: rgba(5, 5, 5, 0.18);
  border-radius: 12px;
}

.btn-categories-item {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  cursor: pointer;
  margin-bottom: 18px;
  border: none;
  background-color: #f8f8f8;
  color: rgba(5, 5, 5, 0.3);
}

.active {
  color: #9bb537;
}

@media screen and (min-width: 768px) {
  .btn-all-categories {
    margin-bottom: 30px;
  }

  .btn-categories-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 24px;
  }

  .categories-list {
    height: 416px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-all-categories {
    margin-bottom: 42px;
  }
}
