.gallery {
  padding-top: 100px;
}

/* ================================================mobile */

/* ======================================================filter */
.container-gallery {
  margin: 0 auto;
  padding-left: 30px;
}

.gallery-form-filter {
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-end;

  row-gap: 14px;
  display: flex;
}

.gallery-item {
  background-image: linear-gradient(
    1deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
}

.wrap-time-area {
  display: flex;
  justify-content: space-between;
}

.gallery-wrap-reset-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.form-el-border {
  border: 1px solid var(--input-color-theme-light);
  border-radius: 15px;
  padding: 0px 14px;
  height: 46px;
}

.search-igredient {
  width: 335px;
  padding-left: 42px;
  font-family: 'Inter', sans-serif;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.gallery-form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: var(--input-color-theme-light);
}

.select-ingredients {
  width: 190px;
}

.gallery-reset-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;

  color: var(--input-color-theme-light);
}

.gallery-form-reset-svg,
.gallery-form-svg,
.gallery-card-heart-svg {
  width: 16px;
  height: 16px;
  fill: var(--accent-color);

  margin-right: 4px;
  margin-right: 0px;
}

.gallery-form-svg {
  position: absolute;
  top: 53%;
  margin-left: 18px;
  border: none;
  width: 18px;
  height: 18px;
  fill: var(--input-color-theme-light);
}

.gallery-form-reset-svg {
  margin-right: 4px;
}

/*========================================================================================== stars */
.gallery-star-ckeckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.galerry-checkbox-icon {
  display: inline-block;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 2px solid tomato;
}

.gallery-average-rating {
  column-gap: 4px;
  display: flex;
  align-items: center;
}

.gallery-star-ckeckbox:checked + .galerry-checkbox-icon {
  background-color: tomato;
}

.checkbox-favorite {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.gallery-icon-checkbox {
  content: '';
  display: inline-block;
  z-index: 1;
  margin-right: 0;
  position: absolute;
  top: 16px;
  left: 303px;
  width: 20px;
  height: 20px;
  stroke: rgba(248, 248, 248, 0.5);
  fill: none;

  transition: fill, stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox-favorite:checked + .gallery-icon-checkbox {
  stroke: #fff;
  fill: #fff;
}

.wrap-input-search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.select-time,
.select-area {
  width: 160px;
}

/* =========================================================================begin=======CARDS */

.gallery-image {
  position: relative;
  width: 305px;
  height: 335px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.gallery-item {
  position: relative;
}

.gallery-wrap-descr-reciept-card {
  position: absolute;

  bottom: 16px;
  left: 16px;
  right: 16px;
  color: tomato;
}

.gallery-card-title {
  color: var(--theme-light);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;

  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 14px;
}

.gallery-card-subtitle {
  color: var(--theme-light);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 16px;
  font-size: 12px;
  height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gallery-form-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-btn {
  background-color: var(--accent-color);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--theme-light);
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
}

.gallery-average-rating {
  color: var(--theme-light);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  /* 128.571% */
}

.container-gallery {
  justify-content: end;
}

.form-wrap {
  justify-content: end;
}

/* ====================== */

/* ================================================================================tablet */

@media screen and (min-width: 768px) {
  .gallery-sections {
    flex-direction: row !important;
  }

  .container-gallery {
    padding-left: 32px;

  }
  .wrap-input-search {
    gap: 16px;
  }

  .search-igredient {
    width: 278px;
    height: 48px;
  }

  .select-time {
    width: 125px;
  }

  .form-el-border {
    height: 48px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .gallery-form-filter {
    display: flex;

    justify-content: flex-end;

    /* width: 420px; */
  }

  .gallery-form-filter {
    display: flex;
    width: 496px;
  }

  .gallery-image {
    width: 240px;
    height: 264px;
    margin-bottom: 16px;
  }

  .gallery-picture {
    width: 240px;
  }

  .gallery-wrap-descr-reciept-card {
    display: flex;
    flex-direction: column;
    width: 208px;
  }

  .gallery-wrap-reset-btn {
    margin-bottom: 14px;
  }

  .gallery-card-heart-svg {
    left: 209px;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .gallery-image {
    margin-bottom: 0px;
  }

  .gallery-card-title {
    font-size: 18px;
  }

  .gallery-icon-checkbox {
    left: 205px;
  }
}

@media screen and (min-width: 1280px) {
  .container-gallery {
    padding-left: 50px;
  }
  .gallery-image {
    width: 250px;
    height: 287px;
  }

  .gallery-card-heart-svg {
    left: 218px;
  }

  .wrap-input-search {
    flex-wrap: nowrap;
  }

  .gallery-form-filter {
    display: flex;
    justify-content: flex-end;
    width: 780px;
  }

  .search-igredient {
    width: 278px;
    height: 48px;
  }

  .gallery-selectes {
    padding-top: 0px;
  }

  .gallery-list {
    width: 782px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .gallery-list {
    margin-left: auto;
  }

  .gallery-btn {
    width: 93px;
  }

  .gallery-icon-checkbox {
    left: 215px;
  }
}
