body {
  overflow-x: hidden;
}

.hero-section {
  /* overflow: hidden; */
  position: relative;
  padding-top: 90px;
  padding-bottom: 80px;
  padding-left: 20px;
}

.hero-title {
  margin-bottom: 14px;
  max-width: 335px;

  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--dark-text);
}
.hero-accent {
  font-weight: 400;
  font-style: italic;
  color: var(--accent-color);
}

.hero-desc {
  margin-bottom: 28px;
  max-width: 335px;
  text-align: start;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--dark-text);
}

.open-modal-btn {
  margin-bottom: 48px;
  display: block;
  min-width: 127px;
  height: 45px;
  padding: 10px 20px;

  border-radius: 12px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: var(--dark-text);
  transition: background-color 250ms linear, color 250ms linear;
}

.open-modal-btn:hover,
.open-modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--theme-light);
}

.slide-wrapper {
  display: flex !important;
}

.slider {
  width: 355px !important;
}

.slide {
  display: flex !important;
  justify-content: center;
  width: 355px;
  height: 280px;
  margin-right: 8px;

  border-radius: 15px;

  background: var(--hero-bg-slide);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.one {
  width: 80px;
  justify-content: center;
  overflow: hidden;
}

.two {
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding-top: 56px;
  padding-left: 22;
  padding-right: 22px;
  padding-bottom: 14px;
  border: 1px solid var(--bordes-radius-slick);
}

.three {
  margin-right: 0;
  border-radius: 0px;

  border-radius: 15px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.three img {
  width: 400;
  height: 400;
}

.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  column-gap: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.slick-dots button {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: transparent;
  font-size: 0;
  background-color: var(--dark-text);
  cursor: pointer;
}

.slick-active button {
  background-color: var(--accent-color);
}

.topic-name {
  max-width: 157px;
  margin-top: 20px;
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 14px;

  font-weight: 500;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 8;
}

.topic-area {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-family: Inter;
  font-size: 12px;

  font-weight: 400;
  line-height: 1.16;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-left: 32px;
  }

  .hero-title {
    margin-bottom: 16px;
    max-width: 446px;

    font-size: 36px;
  }

  .hero-desc {
    margin-bottom: 32px;
    max-width: 408px;

    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-text);
  }

  .open-modal-btn {
    padding: 14px 28px;

    border-radius: 15px;
  }

  .slider {
    width: 736px !important;
  }
  .slide {
    width: 736px;
    height: 442px;
    margin-right: 16px;
  }

  .one {
    width: 137px;
    justify-content: center;
  }

  .two {
    width: 350px;
    padding-top: 67px;
    padding-left: 24;
    padding-right: 24px;
    padding-bottom: 32px;
  }

  .topic-name {
    max-width: 276px;
    margin-top: 32px;
  }

  .three {
    width: 217px;
    margin-right: 0px;
  }

  .three img {
    width: 600;
    height: 620;
  }
  .slider.js-slider.slick-initialized.slick-slider.slick-dotted {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;

    height: 668px;
  }
  .wrapper {
    display: flex;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .wrapper-left-side-content {
    margin-right: 32px;
    width: 446px;
  }
  .slider {
    width: 787px !important;
    /* margin-left: 32px; */
    flex-grow: 2;
  }

  .slider.js-slider.slick-initialized.slick-slider.slick-dotted {
    margin: 0 !important;
  }

  .slide {
    width: 702px;
  }

  .one {
    width: 137px;
  }

  .two {
    width: 350px;
  }

  .three {
    width: 268px;
    margin-right: 0;
  }

  .three img {
    width: 700;
    height: 700;
  }
}
