.hero-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-title {
  margin-bottom: 14px;
  max-width: 335px;

  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--dark-text);
}
.hero-accent {
  font-weight: 400;
  font-style: italic;
  color: var(--accent-color);
}

.hero-desc {
  margin-bottom: 28px;
  max-width: 335px;
  text-align: start;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--dark-text);
}

.open-modal-btn {
  min-width: 71px;
  height: 17px;
  padding: 10px 20px;

  border-radius: 12px;
  border: 1px solid var(--accent-color);

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: var(--dark-text);
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 16px;
    max-width: 446px;

    font-size: 36px;
  }

  .hero-desc {
    margin-bottom: 32px;
    max-width: 408px;

    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-text);
  }

  .open-modal-btn {
    padding: 14px 28px;

    border-radius: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
