
/* BACKDROP */

.modal-rating-backdrop {
     opacity: 0;
   visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}


.modal-rating-backdrop.modal-rating-backdrop-active {
    opacity: 1;
    visibility: visible;
}

/* /BACKDROP */

/* /STARS */

.modal-rating {
    display: flex;
    align-items: flex-end;
font-size: 24px;
gap: 8px;
margin-bottom: 24px;
}

.modal-rating-body {
    position: relative;
}

.modal-rating-body::before {
    content: "★★★★★";
    display: block;
    color: #D9D9D9;

}

.modal-rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-rating-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.modal-rating-active {
    position: absolute;
    width: 10%;
        height: 100%;
        top: 0;
            left: 0;
            overflow: hidden;
}

.modal-rating-active::before {
    content: "★★★★★";
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #eee30c;;
}

.modal-rating-email-input {
    display: flex;
        width: 295px;
        height: 46px;
        padding: 14px 14px 14px 18px;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
        background-color: var(--body-color);
        border-radius: 15px;
            border: 1px solid var(--theme-dark);
            margin-bottom: 14px;
            color: var(--dark-text);
}

.modal-rating-btn-submit{
    display: flex;
        width: 295px;
        padding: 15px 132px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        background-image: linear-gradient(to right, #9BB537 0%, #37b557 51%, #91db97 100%);
        border: none;

    color: var(--dark-text-title);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
       

            flex: 1 1 auto;
            
                transition: 0.5s;
                background-size: 200% auto;
            
                box-shadow: 0 0 10px var(--dark-text);

}

.modal-rating-btn-submit:hover, 
.modal-rating-btn-submit:focus {
cursor: pointer;
    background-position: right center;
}

.modal-rating-email-input:focus,
.modal-rating-email-input:hover {
    outline: #9BB537 3px solid;
  
    border-color: #37b557;
}

/* MODAL WRAP */



.modal-rating-wrap {
    /* opacity: 0;
    visibility: hidden; */
    width: 335px;
    height: 216px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color:var(--modal-rating-theme-light);

    text-align: center;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
    transition-delay: 100ms;
    border-radius: 15px;
    box-shadow: 0 7px 15px #47906a;
}

.modal-rating-wrap .active {
    opacity: 1;
    visibility: visible;
}


 .modal-rating-icon {
     width: 20px;
     height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
 }

    

.modal-rating-close {
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    padding: 4px;
    position: absolute;
    stroke: var(--dark-text);
    cursor: pointer;
    background-color: var(--modal-rating-theme-light); 
    /* --modal-rating-theme-light */
    border: none;
    
}


.modal-rating-title {
    font-family: Inter;
    color: var(--dark-text);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 600;
    font-style: normal;
}

.modal-rating-value {
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--dark-text);
}






#modal-bcg-wrap {
    margin: 0;
 
    background-color: #47906a;
    /* --modal-rating-theme-light */
    position: relative;
}

.star {
    background-color: #f0f0f0;
    width: 1.5px;
    height: 1.5px;
    position: absolute;
    border: #f0f0f0 0px solid;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
    animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes glow {
    0% {
        opacity: 0;
        transform: scale(1, 1);
    }

    20% {
        opacity: 0.5;
    }

    35% {
        opacity: 1;
    }

    50% {
        transform: scale(2, 2);
    }

    100% {
        transform: scale(1, 1);
    }
}




 .modal-rating-loader {
     position: absolute;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     
     display: inline-block;
     vertical-align: middle;
    left: 44%;
    bottom: 44%;
    display: none;
 }

  .loader-star {
      position: absolute;
      top: calc(50% - 12px);
  }

.loader-14 .loader-star {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.star-small {
    -webkit-animation: star-small-pulse 1s ease-in-out alternate infinite;
    animation: star-small-pulse 1s ease-in-out alternate infinite;
}
 .loader-14 .star-big {
     -webkit-animation: star-big-pulse 2s -0.2s ease-in-out infinite;
     animation: star-big-pulse 2s -0.2s ease-in-out infinite;
 }

 @-webkit-keyframes star-big-pulse {
     0% {
         -webkit-transform: scale(0);
         transform: scale(0);
         opacity: 1;
     }

     100% {
         -webkit-transform: scale(5);
         transform: scale(5);
         opacity: 0;
     }
 }

 @keyframes star-big-pulse {
     0% {
         -webkit-transform: scale(0);
         transform: scale(0);
         opacity: 1;
     }

     100% {
         -webkit-transform: scale(5);
         transform: scale(5);
         opacity: 0;
     }
 }

 @-webkit-keyframes star-small-pulse {
     0% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }

     100% {
         -webkit-transform: scale(2);
         transform: scale(2);
     }
 }

 @keyframes star-small-pulse {
     0% {
         -webkit-transform: scale(1);
         transform: scale(1);
     }

     100% {
         -webkit-transform: scale(2);
         transform: scale(2);
     }
 }

 @media screen and (min-width: 768px) {

     .modal-rating-wrap {
         width: 424px;
         height: 254px;
         padding: 32px 32px 32px 32px;
     }

     .modal-rating-icon {
         width: 24px;
         height: 24px;
     }

     .modal-rating-email-input {
         width: 360px;
         height: 48px;
         margin-bottom: 16px;
     }

     .user-message {
         height: 100px;
     }



     .modal-rating-btn-submit {
         width: 360px;
     }



 }

 .modal-rating-backdrop-active {
    z-index: 2;
 }