
.half-stars {
    text-align: center;
}

.half-stars .rating-group {
    display: inline-flex;
}

.half-stars input {
    position: absolute;
    left: -9999px;
}

.half-stars label {
    margin: 0;
    cursor: pointer;
}

.half-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #EEA10C;
    transition: fill 0.3s;
}

.half-stars .hsr {
    padding-right: 0;
    margin-right: -22px;
    width: 22px;
    overflow: hidden;
    z-index: 2;
}

.half-stars input:checked~label svg {
    fill: #D9D9D9;
}

.half-stars .rating-group:hover label svg {
    fill: #EEA10C;
}

.half-stars .rating-group input:hover~label svg {
    fill: #D9D9D9;
}

/* BACKDROP */

.modal-rating-backdrop {
    /* opacity: 0;
    visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}


.modal-rating-backdrop .active {
    opacity: 1;
    visibility: visible;
}


/* /BACKDROP */

/* MODAL WRAP */



.modal-rating-wrap {
    /* opacity: 0;
    visibility: hidden; */
    width: 335px;
    height: 216px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
    transition-delay: 100ms;
    border-radius: 15px;
}

.modal-rating-wrap .active {
    opacity: 1;
    visibility: visible;
}


 .modal-rating-icon {
     width: 20px;
     height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
 }

    

.modal-rating-close {
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    padding: 4px;
    position: absolute;
    stroke: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
}


.modal-title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
}


@media screen and (min-width: 768px) {
   
    .modal {
            width: 685px;
            height: 681px;
            padding: 32px 48px 32px 32px;
        }

       

}

@media screen and (min-width: 1280px) {
   


}