.recipes-modal-container {
  /* opacity: 0;
  visibility: hidden; */
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}

.recipes-modal-container .active {
  opacity: 1;
  visibility: visible;
}

.modal-recipes-wrap {
  /* opacity: 0;
    visibility: hidden; */
  max-width: 335px;
  max-height: 95%;
  padding: 40px 20px 40px 20px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: opacity 250ms ease-in-out;
  transition-delay: 100ms;
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-recipes-wrap.active {
  opacity: 1;
  visibility: visible;
}

/*  дів для рендера рецепту*/
.card-markup-modal {
  overflow-y: auto;
  overflow-x: hidden;
}

/* відео */
.modal-iframe-video {
  max-width: 295px;
  max-height: 295px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Заголовок */
.modal-recipe-name {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;

  margin-bottom: 14px;
}

/* Зірочки */
.card-star-modal {
  margin-bottom: 33px;
}
/* Інградієнти */

.modal-ingradient-list {
}
.modal-name-ingradient {
  position: relative;
  display: flex;
  justify-content: space-between;

  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */

  list-style-type: none;

  margin-bottom: 20px;
}
.modal-ingradient-list > :last-child {
  margin-bottom: 48px;
}

.modal-measure {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.modal-name-ingradient::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%; /* Займає всю ширину батьківського елемента li */
  height: 1px; /* Висота лінії */
  background-color: rgba(5, 5, 5, 0.1); /* Колір лінії */
  margin-top: 8px;
}

/* Хештег */
.modal-hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}
.modal-hashtag-item {
  list-style-type: none;

  height: 30px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 35px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: #050505;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

/* рецепт */
.modal-recipe-instructions {
  max-width: 295px;
  max-height: 288px;

  color: rgba(5, 5, 5, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  overflow-y: auto;

  margin-bottom: 40px;
}

/* кнопки */

.extra-modal-button {
  display: flex;
  gap: 14px;
}

.modal-add-favorite {
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  border: none;
  background: #9bb537;

  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  white-space: nowrap;
  height: 41px;
}
.modal-add-favorite:hover,
.modal-add-favorite:focus {
  color: #050505;
}
.modal-give-rating {
  height: 41px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  border: 1px solid #9bb537;
  background: #fff;

  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  white-space: nowrap;
}
.modal-give-rating:hover,
.modal-give-rating:focus {
  background: #9bb537;
  color: #f8f8f8;
}

/* кнопка закриття */
.close-recipes-icon {
  width: 20px;
  height: 20px;
}

.close-recipes-btn {
  top: 14px;
  right: 14px;
  position: absolute;

  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: #fff;
}
