

.modal-order-backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}


.modal-order-backdrop.modal-order-backdrop-active {
    opacity: 1;
    visibility: visible;
}



.modal-order-wrap {
    /* opacity: 0;
    visibility: hidden; */
width: 440px;
    height: 632px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
    transition-delay: 100ms;
    border-radius: 15px;
}

.modal-order-wrap .modal-order-wrap-active {
    opacity: 1;
    visibility: visible;
}


.modal-order-icon {
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
}



.modal-order-close {
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    padding: 4px;
    position: absolute;
    stroke: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
}


.modal-order-title {
color: #050505;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 122.222% */
    text-transform: uppercase;
    margin-bottom: 28px;
}


.modal-order-inputs {
    display: flex;
    margin-bottom: 28px;
    flex-direction: column;
}


.modal-order-input {
    font-size: 16px;
    width: 360px;
        height: 48px;
        padding-left: 10px;
        align-items: flex-start;
        gap: 32px;
       border-radius: 15px;
        border: 1px solid rgba(5, 5, 5, 0.20);
}


.modal-order-form {
        display: flex;
            flex-direction: column;
            align-items: center;
}


.modal-order-tag {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgba(5, 5, 5, 0.50);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
}

.modal-order-textarea {
    gap: 8px;
    display: flex;
    flex-direction: column;

    
}

.modal-order-input {
resize: none;

}

.modal-order-comment {
color: rgba(5, 5, 5, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.modal-order-name,
.modal-order-email,
.modal-order-phone,
.modal-comment-label {
color: rgba(5, 5, 5, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}


.user-message {
width: 360px;
    height: 100px;
padding: 14px 18px 14px 18px;
}

.modal-order-btn {
    
    margin-top: 40px;
    display: flex;
        width: 360px;
        padding: 15px 132px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        background: #9BB537;
        border: none;
    
        color: #F8F8F8;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}


.modal-order-btn:hover,
.modal-order-btn:focus {
cursor: pointer;

    background: #6c8214;

}


.modal-order-input:focus,
.modal-order-input:hover {
    outline: #9BB537 1px solid;
    box-shadow: 0px 0px 3px 2px rgba(93, 179, 7, 0.5);
}