/* В джс прописати добавлення класу модал для баді коли модалка відкривається */
body .modal {
  overflow: hidden;
}
.recipes-modal-container {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-recipes);
  transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}

.recipes-modal-container.active {
  z-index: 50;
  opacity: 1;
  visibility: visible;
}

.modal-recipes-wrap {
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  width: 335px;
  height: 95%;
  padding: 40px 20px 40px 20px;
  background-color: var(--body-color);
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: opacity 250ms ease-in-out;
  transition-delay: 100ms;
  border-radius: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-recipes-wrap.active {
  z-index: 50;
  opacity: 1;
  visibility: visible;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .modal-recipes-wrap {
    max-width: 531px;
    width: 531px;
    padding: 32px;
  }
}

/*  дів для рендера рецепту*/
.card-markup-modal {
  overflow-y: auto;
  overflow-x: hidden;
}

/* відео */
.modal-reverse-title {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-iframe-video {
  max-width: 295px;
  max-height: 295px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.icon-youtube {
  fill: #9bb537;
  width: 38px;
  height: 38px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Заголовок */
.modal-recipe-name {
  color: var(--dark-text);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;

  margin-bottom: 14px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-iframe-video {
    max-width: 467px;
    max-height: 250px;
    width: 467px;
    height: 250px;
    margin-bottom: 16px;
  }

  .modal-reverse-title {
    flex-direction: column-reverse;
  }

  .modal-recipe-name {
    margin-bottom: 16px;
  }
}

/* Зірочки */
.card-star-modal {
  margin-bottom: 33px;
}

.modal-reverse-list {
  display: flex;
  flex-direction: column;
}
/* Інградієнти */

.modal-name-ingradient {
  position: relative;
  display: flex;
  justify-content: space-between;

  color: var(--dark-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */

  list-style-type: none;

  margin-bottom: 20px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-name-ingradient {
    margin-bottom: 16px;
  }
}
/* ПК */
@media screen and (min-width: 1280px) {
  .modal-name-ingradient {
    margin-bottom: 18px;
  }
}
.modal-ingradient-list {
  max-height: 224px;
  overflow-y: auto;
  margin-bottom: 40px;
}
.modal-ingradient-list > :last-child {
  margin-bottom: 0px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-ingradient-list {
    max-height: 204px;
    margin-bottom: 40px;
  }
}

.modal-measure {
  color: var(--modal-measure-recipes);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.modal-name-ingradient::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%; /* Займає всю ширину батьківського елемента li */
  height: 1px; /* Висота лінії */
  background-color: var(--modal-name-ingradient); /* Колір лінії */
  margin-top: 8px;
}

/* Хештег */
.modal-hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 24px;
}
.modal-hashtag-item {
  list-style-type: none;

  height: 30px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 35px;
  border: 1px solid var(--modal-hashtag-item);

  color: var(--dark-text);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-reverse-list {
    flex-direction: column-reverse;
  }

  .modal-hashtag-list {
    gap: 4px;
    max-width: 265px;
  }
}
/* рецепт */
.modal-recipe-instructions {
  max-width: 295px;
  max-height: 288px;

  color: var(--modal-recipe-instruction);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  overflow-y: auto;

  margin-bottom: 40px;
  margin-top: 0px !important;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .modal-recipe-instructions {
    max-width: 467px;
    max-height: 162px;
    width: 467px;
    height: 162px;
    margin-bottom: 32px;
  }
}

/* кнопки */

.extra-modal-button {
  display: flex;
  gap: 14px;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .extra-modal-button {
    gap: 16px;
  }
}
.modal-add-favorite.active {
  min-width: 147px;
  min-height: 41px;
  background-color: var(--modal-hashtag-item);
}
.modal-add-favorite {
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  border: none;
  background: var(--accent-color);

  color: var(--theme-light);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  white-space: nowrap;
  height: 41px;
}
@media screen and (min-width: 768px) {
  .modal-add-favorite {
    padding: 14px 28px;
    height: 45px;
  }
}

.modal-add-favorite:hover,
.modal-add-favorite:focus {
  color: #050505;
}
.modal-give-rating {
  height: 41px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  border: 1px solid var(--accent-color);
  background: var(--body-color);

  color: var(--dark-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .modal-give-rating {
    padding: 14px 28px;
    height: 45px;
  }
}

.modal-give-rating:hover,
.modal-give-rating:focus {
  background: var(--accent-color);
  color: var(--theme-light);
}

/* кнопка закриття */
.close-recipes-icon {
  stroke-width: 2px;
  stroke: var(--dark-text);
  width: 20px;
  height: 20px;
}

.close-recipes-btn {
  top: 14px;
  right: 14px;
  position: absolute;

  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: var(--body-color);

  cursor: pointer;
}

/* Стилізація смуги прокрутки за замовчуванням */
::-webkit-scrollbar {
  width: 2px;
}

/* .modal-recipe-rating {
  position: relative;
}

.modal-recipe-active {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.modal-recipe-active::before {
  content: "★★★★★";
position: absolute;
  color: #eee30c;
  top: 337px;
}

.recipe-star-modal::before {
  content: "★★★★★";
  display: block;
  color: #D9D9D9;

} */

.star-1,
.star-2,
.star-3,
.star-4,
.star-5 {
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 0.1);
}

.star-1.activeStar,
.star-2.activeStar,
.star-3.activeStar,
.star-4.activeStar,
.star-5.activeStar {
  fill: #eea10c;
}

.recipe-star-modal {
  display: flex;
  align-items: center;
}

.modal-recipe-rating {
  margin-right: 6px;
  color: var(--modal-measure-recipes);
}

.modal-recipe-time {
  color: var(--modal-measure-recipes);
  padding-left: 16px;
}

/* LODER */

.loader {
  top: 25%;
  left: 20%;
  z-index: 150;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}

.loader-9 .star1 {
  -webkit-animation: stars-pulse 1s ease-in-out infinite;
  animation: stars-pulse 1s ease-in-out infinite;
  left: 0;
}

.loader-9 .star2 {
  -webkit-animation: stars-pulse 1s 0.2s ease-in-out infinite;
  animation: stars-pulse 1s 0.2s ease-in-out infinite;
  left: 50px;
}

.loader-9 .star3 {
  -webkit-animation: stars-pulse 1s 0.4s ease-in-out infinite;
  animation: stars-pulse 1s 0.4s ease-in-out infinite;
  left: 100px;
}

@-webkit-keyframes stars-pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes stars-pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

/* SKELETON */

:root {
  --loading-grey: #ededed;
}

.cardSkelet {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.imageSkelet {
  height: 300px;
}

.contentSkelet {
  padding: 2rem 1.8rem;
}

.hSkelet {
  margin: 0 0 1rem;
  height: 50px;
}

.descriptionSkelet {
  height: 200px;
}

.loadingSkelet .imageSkelet,
.loadingSkelet .hSkelet,
.loadingSkelet .descriptionSkelet {
  background-color: var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--modal-name-ingradient);

  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loadingSkelet .hSkelet {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: 0.05s;
}

.loadingSkelet .descriptionSkelet {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: 0.06s;
}

@media screen and (min-width: 768px) {
  .recipe-star-modal {
    position: absolute;
    top: 353px;
    left: 295px;
    align-content: center;
    align-items: center;
  }

  .modal-hashtag-list {
    justify-content: flex-start;
    position: relative;
    padding-top: 8px;
    gap: 3px;
    margin-bottom: 32px;
  }

  .modal-recipe-time {
    padding-left: 5px;
  }

  .card-star-modal {
    margin-bottom: 0px;
  }
}
