
/* BACKDROP */

.modal-rating-backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}


.modal-rating-backdrop.modal-rating-backdrop-active {
    opacity: 1;
    visibility: visible;
}

/* /BACKDROP */

/* /STARS */

.modal-rating {
    display: flex;
    align-items: flex-end;
font-size: 24px;
gap: 8px;
margin-bottom: 24px;
}

.modal-rating-body {
    position: relative;
}

.modal-rating-body::before {
    content: "★★★★★";
    display: block;
    color: #D9D9D9;

}

.modal-rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-rating-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.modal-rating-active {
    position: absolute;
    width: 10%;
        height: 100%;
        top: 0;
            left: 0;
            overflow: hidden;
}

.modal-rating-active::before {
    content: "★★★★★";
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #eee30c;;
}

.modal-rating-email-input {
    display: flex;
        width: 295px;
        height: 46px;
        padding: 14px 14px 14px 18px;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
        
        border-radius: 15px;
            border: 1px solid rgba(5, 5, 5, 0.20);

            margin-bottom: 14px;
}

.modal-rating-btn-submit{
    display: flex;
        max-width: 295px;
        padding: 15px 132px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        background: #F8F8F8;
        border: none;

    color: #000;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition-delay: 100ms;

}

.modal-rating-btn-submit:hover, 
.modal-rating-btn-submit:focus {
cursor: pointer;

color: #F8F8F8;
background: #9BB537;
}

.modal-rating-email-input:focus,
.modal-rating-email-input:hover {
    outline: #9BB537 3px solid;
    box-shadow: 0px 0px 3px 2px rgba(93, 179, 7, 0.5);;
}

/* MODAL WRAP */



.modal-rating-wrap {
    /* opacity: 0;
    visibility: hidden; */
    width: 335px;
    height: 216px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
    transition-delay: 100ms;
    border-radius: 15px;
}

.modal-rating-wrap .active {
    opacity: 1;
    visibility: visible;
}


 .modal-rating-icon {
     width: 20px;
     height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
 }

    

.modal-rating-close {
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    padding: 4px;
    position: absolute;
    stroke: #000;
    cursor: pointer;
    background-color: #47906a;
    border: none;
}


.modal-rating-title {
    font-family: Inter;
    color: #050505;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1px;
    font-weight: 600;
    font-style: normal;
}

.modal-rating-value {
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
}




@media screen and (min-width: 768px) {
   
    .modal {
            width: 685px;
            height: 681px;
            padding: 32px 48px 32px 32px;
        }

       

}

@media screen and (min-width: 1280px) {
   


}


#modal-bcg-wrap {
    margin: 0;
 
    background-color: #47906a;
    position: relative;
}

.star {
    background-color: #f0f0f0;
    width: 1.5px;
    height: 1.5px;
    position: absolute;
    border: #f0f0f0 0px solid;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
    animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes glow {
    0% {
        opacity: 0;
        transform: scale(1, 1);
    }

    20% {
        opacity: 0.5;
    }

    35% {
        opacity: 1;
    }

    50% {
        transform: scale(2, 2);
    }

    100% {
        transform: scale(1, 1);
    }
}


