.modal-order-backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}


.modal-order-backdrop.modal-order-backdrop-active {
    opacity: 1;
    visibility: visible;
}



.modal-order-wrap {

    width: 335px;
    height: 582px;
    padding: 28px 20px 28px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--body-color);
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
    transition-delay: 100ms;
    border-radius: 15px;
    box-shadow: 7px 5px 15px 0px rgba(127, 235, 188, 0.4);

}

.modal-order-wrap .modal-order-wrap-active {
    opacity: 1;
    visibility: visible;
}


.modal-order-icon {
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
    position: absolute;
}



.modal-order-close {
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    padding: 4px;
    position: absolute;
    stroke: var(--dark-text);
    cursor: pointer;
    background-color: var(--body-color);
    border: none;
}


.modal-order-title {
    color: var(--dark-text);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 122.222% */
    text-transform: uppercase;
    margin-bottom: 28px;
    text-shadow: 6px 3px 5px var(--accent-color);
    
}


.modal-order-inputs {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    transition: 0.5s;

}


.modal-order-input {
    font-size: 16px;
    width: 295px;
    height: 46px;
    padding: 14px 18px 14px 18px;
    align-items: flex-start;
    gap: 32px;
    border-radius: 15px;
    border: 1px solid var(--theme-dark);
    background-color: var(--body-color);
    color: var(--dark-text);
    transition: 0.5s;

}


.modal-order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-order-tag {
    font-size: 14px;
    margin-bottom: 8px;
    color: rgba(5, 5, 5, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.modal-order-textarea {
    gap: 8px;
    display: flex;
    flex-direction: column;


}

.modal-order-input {
    resize: none;
    transition: 0.5s;

}

.modal-order-comment {
    color: rgba(5, 5, 5, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.modal-order-name,
.modal-order-email,
.modal-order-phone,
.modal-comment-label,
.modal-order-tag,
.modal-order-comment {
    color: var(--dark-text);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}


.user-message {
    width: 295px;
    height: 100px;
    padding: 14px 18px 14px 18px;
}

.modal-order-btn {

    margin-top: 40px;
    display: flex;
    width: 295px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #9BB537 0%, #37b557 51%, #91db97 100%);
    border: none;

    color: var(--dark-text);
    ;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    flex: 1 1 auto;

    transition: 0.5s;
    background-size: 200% auto;

    box-shadow: 0 0 10px var(--dark-text);
    ;

}


.modal-order-btn:hover,
.modal-order-btn:focus {
    cursor: pointer;
    background-position: right center;


}




.modal-order-input:focus,
.modal-order-input:hover {
    outline: #9BB537 1px solid;
    box-shadow: 0px 0px 3px 2px rgba(93, 179, 7, 0.5);
    border-color: #37b557;
}


.modal-order-loader {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: inline-block;
    vertical-align: middle;
    left: 43%;
    bottom: 50%;
    display: none;
}

.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}

.loader-14 .loader-star {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.star-small {
    -webkit-animation: star-small-pulse 1s ease-in-out alternate infinite;
    animation: star-small-pulse 1s ease-in-out alternate infinite;
}

.loader-14 .star-big {
    -webkit-animation: star-big-pulse 2s -0.2s ease-in-out infinite;
    animation: star-big-pulse 2s -0.2s ease-in-out infinite;
}

@-webkit-keyframes star-big-pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(5);
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes star-big-pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(5);
        transform: scale(5);
        opacity: 0;
    }
}

@-webkit-keyframes star-small-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes star-small-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}



.anima-wrap {
    position: relative;
}


.card-modal-order {
    position: absolute;
width: 335px;
    height: 582px;
    color: #fff;
    background: transparent;
    overflow: hidden;
    border-top: 1px solid rgba(255, 49, 49, 0.5);
    border-right: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(255, 255, 113, 0.5);
    border-radius: 2%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
bottom: -23px;
right: -20px;
z-index: -1;
    
}

.p-modal-order {
    font-size: 0.95rem;
    text-align: center;
}

.span-modal-order {
    
    border-radius: 100vmax;
}

.top-modal-order {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(90deg,
            transparent 50%,
            rgba(255, 49, 49, 0.5),
            rgb(255, 49, 49));
}

.bottom-modal-order {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(90deg,
            rgb(57, 255, 20),
            rgba(57, 255, 20, 0.5),
            transparent 50%);
}

.right-modal-order {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(180deg,
            transparent 30%,
            rgba(0, 255, 255, 0.5),
            rgb(0, 255, 255));
}

.left-modal-order {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(180deg,
            rgb(255, 255, 113),
            rgba(255, 255, 113, 0.5),
            transparent 70%);
}

.top-modal-order {
    animation: animateTop 3s ease-in-out infinite;
}

.bottom-modal-order {
    animation: animateBottom 3s ease-in-out infinite;
}

.right-modal-order {
    animation: animateRight 3s ease-in-out infinite;
}

.left-modal-order {
    animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
    25% {
        width: 100%;
        opacity: 1;
    }

    30%,
    100% {
        opacity: 0;
    }
}

@keyframes animateBottom {

    0%,
    50% {
        opacity: 0;
        width: 0;
    }

    75% {
        opacity: 1;
        width: 100%;
    }

    76%,
    100% {
        opacity: 0;
    }
}


@keyframes animateRight {

    0%,
    25% {
        opacity: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        height: 100%;
    }

    55%,
    100% {
        height: 100%;
        opacity: 0;
    }
}

@keyframes animateLeft {

    0%,
    75% {
        opacity: 0;
        bottom: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

.non-active-btn {
    background-color: #989a96;
    background-image: none;
    box-shadow: 1px 1px 1px #a9aaa6;
    color: #0d0a0a;
}

.modal-order-backdrop-active {
    z-index: 2;
}

@media screen and (min-width: 768px) {
.card-modal-order {
        width: 440px;
        height: 632px;
        bottom: -43px;
            right: -40px;
}

    .modal-order-wrap {
        width: 440px;
        height: 632px;
        padding: 40px;
    }

    .modal-order-icon {
        width: 24px;
        height: 24px;
    }

    .modal-order-input {
        width: 360px;
        height: 48px;
    }

    .user-message {
        height: 100px;
    }

    .modal-order-title {
        margin-bottom: 40px;
    }

    .modal-order-btn {
        width: 360px;
    }

}