.half-stars {
    text-align: center;
}

.half-stars .rating-group {
    display: inline-flex;
}

.half-stars input {
    position: absolute;
    left: -9999px;
}

.half-stars label {
    margin: 0;
    cursor: pointer;
}

.half-stars label svg {
    margin: 2px;
    height: 40px;
    width: 40px;
    fill: #EEA10C;
    transition: fill 0.3s;
}

.half-stars .hsr {
    padding-right: 0;
    margin-right: -22px;
    width: 22px;
    overflow: hidden;
    z-index: 2;
}

.half-stars input:checked~label svg {
    fill: #D9D9D9;
}

.half-stars .rating-group:hover label svg {
    fill: #EEA10C;
}

.half-stars .rating-group input:hover~label svg {
    fill: #D9D9D9;
}