.popular {
  margin: 0 auto;
}
.popular-recipes-title {
  max-width: 166px;
  height: 24px;
  color: var(--dark-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  font-family: Inter;
  margin-bottom: 20px;
}
.popular-recipes-list {
  margin-bottom: 40px;
}
.popular-recipes-item {
  max-width: 335px;
}
.popular-recipes-item:not(:last-child) {
  margin-bottom: 24px;
}
.popular-recipes-link {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.popular-img-wrapper {
  box-sizing: content-box;
  width: 64px;
  height: 64px;
}
.popular-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 252px;
}
.popular-recipes-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--dark-text);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  font-family: Inter;
  margin-bottom: 8px;
}

.popular-recipes-text {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Inter;
  color: var(--recipes-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  width: 256px;
}
.popular-recipes-text {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
}
.popular-recipes-text::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}
.popular-recipes-text::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: white;
}
