.popular {
  margin: 0 auto;
}

.popular-recipes-title {
  max-width: 166px;
  color: var(--dark-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  font-family: Inter;
  margin-bottom: 20px;
}

.popular-recipes-list {
  margin-bottom: 40px;
}

.popular-recipes-item {
  max-width: 335px;
}

.popular-recipes-item:not(:last-child) {
  margin-bottom: 24px;
}

.popular-recipes-link {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.popular-img-wrapper {
  box-sizing: content-box;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 15%;
}

.popular-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 256px;
}

.popular-recipes-head {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-text);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  font-family: Inter;
  margin-bottom: 8px;
}

.popular-recipes-text {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--recipes-text);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .popular-recipes-title {
    margin-bottom: 32px;
  }

  .popular-recipes-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .popular-img-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }

  .popular-wrapper {
    max-width: 176px;
    max-height: 67px;
  }

  .popular-recipes-head {
    max-width: 120px;
  }

  .popular-recipes-text {
    max-width: 120px;
    font-size: 10px;
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 1280px) {
  .popular-recipes-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .popular-img-wrapper {
    width: 64px;
    height: 64px;
    margin-right: 16px;
  }

  .popular-wrapper {
    max-width: 240px;
    max-height: 67px;
  }

  .popular-recipes-head {
    max-width: 155px;
  }

  .popular-recipes-text {
    max-width: 155px;
    font-size: 10px;
    -webkit-line-clamp: 3;
  }
}