.popular {
  margin: 0 auto;
}
.popular-recipes-title {
  max-width: 166px;
  color: var(--dark-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: uppercase;
  font-family: Inter;
  margin-bottom: 20px;
}
.popular-recipes-list {
  margin-bottom: 40px;
}
.popular-recipes-item {
  max-width: 335px;
}
.popular-recipes-item:not(:last-child) {
  margin-bottom: 24px;
}
.popular-recipes-link {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.popular-img-wrapper {
  box-sizing: content-box;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 15%;
}
.popular-wrapper-text {
  display: flex;
  flex-direction: column;
  max-width: 256px;
}
.popular-recipes-head {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-text);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  font-family: Inter;
  margin-bottom: 8px;
}
.popular-recipes-text {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--recipes-text);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}
.js-popular-big-wrapper {
  position: relative;
  max-width: 335px;
  max-height: 168px;
  overflow-y: hidden;
}
.popular-wrapper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  max-width: 256px;
  max-height: 42px;
  height: 100%;
  width: 100%;
}
.box {
  max-width: 300px;
  width: 100%;
  padding: 0 15px;
}
.skeleton {
  padding: 15px;
  max-width: 300px;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skeleton .square {
  height: 80px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}
.skeleton .line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}
.skeleton-right {
  flex: 1;
}
.skeleton-left {
  flex: 2;
  padding-right: 15px;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.skeleton .line:last-child {
  margin-bottom: 0;
}
.h8 {
  height: 8px !important;
}
.h10 {
  height: 10px !important;
}
.h12 {
  height: 12px !important;
}
.h15 {
  height: 15px !important;
}
.h17 {
  height: 17px !important;
}
.h20 {
  height: 20px !important;
}
.h25 {
  height: 25px !important;
}
.w25 {
  width: 25% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w75 {
  width: 75% !important;
}
.m10 {
  margin-bottom: 10px !important;
}
.circle {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@media screen and (min-width: 768px) {
  .popular-recipes-title {
    margin-bottom: 32px;
  }
  .popular-recipes-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .popular-img-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  .js-popular-big-wrapper {
    overflow-y: visible;
  }
  .popular-wrapper-text {
    max-width: 176px;
    max-height: 67px;
  }
  .popular-recipes-head {
    max-width: 120px;
  }
  .popular-recipes-text {
    max-width: 120px;
    font-size: 10px;
    -webkit-line-clamp: 3;
  }
}
@media screen and (min-width: 1280px) {
  .popular-recipes-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .popular-img-wrapper {
    width: 64px;
    height: 64px;
    margin-right: 16px;
  }
  .popular-wrapper-text {
    max-width: 240px;
    max-height: 67px;
  }
  .popular-recipes-head {
    max-width: 155px;
  }
  .popular-recipes-text {
    max-width: 155px;
    font-size: 10px;
    -webkit-line-clamp: 3;
  }
}
