/* ==============Pagination stales============== */
.tui-page-btn {
  border-radius: 50%;
  color: var(--accent-color) !important;
}
.tui-pagination .tui-page-btn {
  color: var(--dark-text) !important;
  border: 1px solid var(--input-color-theme-light) !important;
}
.tui-pagination .tui-page-btn:hover {
  background-color: var(--body-color) !important;
  cursor: pointer !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--body-color) !important;
  background: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.tui-pagination .tui-is-selected:hover {
  background-color: var(--accent-color) !important;
}

.tui-pagination .tui-first-child,
.tui-pagination .tui-prev-is-ellip {
  border-left: 1px solid var(--input-color-theme-light) !important;
}

.tui-pagination .tui-last-child,
.tui-pagination .tui-next-is-ellip {
  border-right: 1px solid var(--input-color-theme-light) !important;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid var(--accent-color) !important;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid var(--accent-color) !important;
}
.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  border: 1px solid var(--input-color-theme-light) !important;
}
.tui-pagination .tui-is-disabled:hover {
  background: var(--body-color) !important;
}
.tui-page-inputs .tui-page-input {
  color: var(--dark-text) !important;
}
.tui-page-inputs .tui-page-current {
  color: var(--accent-color) !important;
}
.tui-pagination .tui-first,
.tui-pagination .tui-prev {
  stroke: var(--body-color) !important;
  background: var(--dark-text) !important;
}
.tui-pagination .tui-next,
.tui-pagination .tui-last {
  background: var(--accent-color) !important;
}
.tui-ico-ellip {
  border-radius: 50%;
}
.tui-ico-next,
.tui-ico-last {
  color: var(--dark-text) !important;
}
.tui-next-is-ellip {
  height: 28px !important;
}
