<section class="gallery">
  <div class="container">
    <form class="gallery-form-filter">
      <div class="wrap-input-search">
        <label class="gallery-form-label">
          Search
          <input
            type="text"
            placeholder="Enter Text"
            class="search-igredient form-el-border"
            name="query"
            required
          />
        </label>
        <svg class="gallery-form-svg">
          <use href="./images/icon.svg#icon-search"></use>
        </svg>
      </div>
    </form>
    <!-- <div for selects"> -->
    <div class="gallery-div-select">
      <label class="gallery-time gallery-form-label">
        Time
        <select class="select-time form-el-border" name="time">
          <option value="">0 min</option>
        </select>
      </label>
      <label class="gallery-form-label">
        Area
        <select class="select-area form-el-border" name="area">
          <option value="">Region</option>
        </select>
      </label>
      <label class="gallery-form-label">
        Ingredients
        <select class="select-ingredients form-el-border" name="ingredients">
          <option value="">Product</option>
        </select>
      </label>

      <div class="gallery-wrap-reset-btn">
        <svg class="gallery-form-reset-svg">
          <use href="./images/icon.svg#icon-search"></use>
        </svg>
        <button class="gallery-reset-btn" type="reset">Reset the filter</button>
      </div>
    </div>
    <div>
      <ul class="gallery-list list"></ul>
    </div>
  </div>
</section>
