<header class="header">
    <div class="container header-container">
        <nav class="header-nav">
            <ul class="header-nav-menu">
                <li class="header-nav-menu-item list">
                    <a class="header-nav-home link" href="#">Home</a>
                </li>
                <li class="header-nav-menu-item list">
                    <a class="header-nav-Favorites link" href="#">favorites</a>
                </li>
            </ul>
        </nav>
        <a class="logo link" href="#">
            <span class="header-logo-span">tasty</span>treats.
        </a>
        <div class="header-block-order">
            <a class="header-order link" href="#"></a>
            <button class="header-bth-burger is-hidden" type="button">
            
            </button>
            <button class="header-darck-night" type="button">
                <span class="header-bth-circle"></span>
            </button>
            <!-- <label for="check" class="">
                <input type="checkbox" id="check" class="header-darck-night">

            </label> -->
        </div> 
    </div>
</header>