<header class="header" id="logo">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="header-nav-menu">
        <li class="header-nav-menu-item list">
          <a class="header-nav-home header-nav-menu-a link" href="./index.html"
            >Home</a
          >
        </li>
        <li class="header-nav-menu-item list">
          <a
            class="header-nav-Favorites header-nav-menu-a link"
            href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <a class="logo link" href="./index.html">
      <span class="header-logo-span">tasty</span>treats.
    </a>
    <div class="header-block-order">
      <button
        class="header-busket-order"
        href="./favorites.html"
        width="24"
        height="24"
      >
        <svg class="header-busket-icon" width="24" height="24">
          <use href="./images/icon.svg#icon-busket"></use>
        </svg>
      </button>
      <button class="header-bth-burger " type="button" width="32" height="32">
        <svg class="header-burger-icon" width="32" height="32">
          <use href="./images/icon.svg#icon-burger"></use>
        </svg>
      </button>
      <label class="switch ">
        <input type="checkbox" class="check-dark"/>
        <span class="header-check-circle round"></span>
      </label>
    </div>
  </div>
</header>
<div class="header-burger-modal-window is-hidden">
  <button class="header-bth-modal-close" type="button" width="32" height="32">
    <svg class="header-icon-close" width="32" height="32">
      <use href="./images/icon.svg#icon-close-modal"></use>
    </svg>
  </button>
  <nav class="modal-header-nav">
    <ul class="modal-header-nav-menu">
      <li class="modal-header-nav-menu-item list">
        <a class="modal-header-nav-home link" href="./index.html">Home</a>
      </li>
      <li class="modal-header-nav-menu-item list">
        <a class="modal-header-nav-Favorites link" href="./favorites.html"
          >Favorites</a
        >
      </li>
    </ul>
  </nav>
  <label class="mobail-switch">
      <input type="checkbox" class="mobail-check-dark" />
      <span class="mobail-header-check-circle mobail-round"></span>
    </label>
  <!-- <button class="modal-header-darck-light" type="button">
        <span class="modal-header-bth-circle"></span>
    </button> -->
</div>