<section class="hero-section">
  <div class="container wrapper">
    <div>
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-accent">Tasty Treats'</span> Customizable Masterclass
      </h1>
      <h2 class="hero-desc">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </h2>
      <a class="open-modal-btn link" href="tel:+380730000000">Order now</a>
    </div>
    <div>
      <div class="slider js-slider"></div>
    </div>
  </div>
</section>
