<section class="hero-section">
  <div class="wrapper">
    <div class="wrapper-left-side-content">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-accent">Tasty Treats'</span> Customizable Masterclass
      </h1>
      <h2 class="hero-desc">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </h2>
      <button class="open-modal-btn js-hero-btn link" type="button">
        Order now
      </button>
    </div>

    <div class="slider js-slider"></div>
  </div>
</section>
