<!-- дів для фону -->
<div class="recipes-modal-container" id="recipesModal">
  <!-- is-hidden -->

  <!-- дів для модального вікна -->
  <div class="modal-recipes-wrap">
    <!-- кнопка закриття вікна -->
    <button
      type="button"
      class="close-recipes-btn"
      id="closeButtonRecipes"
      aria-label="Close button"
    >
      <svg class="close-recipes-icon">
        <use href="./images/icon.svg#icon-close-modal"></use>
      </svg>
    </button>

    <!-- дів для рендера рецепту -->
    <div class="card-markup-modal"></div>

    <!-- дів для кнопок -->
    <div class="extra-modal-button">
      <button class="modal-add-favorite">Add to favorite</button>
      <button class="modal-give-rating">Give a rating</button>
    </div>
  </div>
</div>
