<div class="modal-rating-backdrop"> 
<div class="modal-rating-wrap" id="modal-bcg-wrap" >
<div class="modal-rating-card">
<button type="button" class="modal-rating-close">
  
   
    <svg class="modal-rating-icon">
        <use href="/src/images/icon.svg#icon-close-modal"></use>
    </svg>
</button>

<!-- ===== STARS ===== -->

<form class="modal-rating-form" name="modal-rating-form" autocomplete="on" id="modalRatingForm">
    <h3 class="modal-rating-title">Rating</h3>
    <div class="modal-rating modal-rating-set">
    <div class="modal-rating-value">1.0</div>
    <div class="modal-rating-body">
    <div class="modal-rating-active"></div>
    <div class="modal-rating-items">
    <input type="radio" class="modal-rating-item" value="1" name="rating">
    <input type="radio" class="modal-rating-item" value="2" name="rating">
    <input type="radio" class="modal-rating-item" value="3" name="rating">
    <input type="radio" class="modal-rating-item" value="4" name="rating">
    <input type="radio" class="modal-rating-item" value="5" name="rating">
     
    </div>  
    </div>  
    </div>  
        <input class="modal-rating-email-input email-required-field" type="email" name="email" id="email" placeholder="Enter e-mail" required/>
            <button type="submit" class="modal-rating-btn-submit">Send</button>
    </form>

    <!-- ===== /STARS ===== -->
    

</div>
<div class="modal-rating-loader loader-14">
    <svg class="loader-star star-small" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.172px" height="23.346px"
        viewBox="0 0 23.172 23.346" xml:space="preserve">
        <polygon fill="#EEA10C"
            points="11.586,0 8.864,8.9 0,8.9 7.193,14.447 4.471,23.346 11.586,17.84 18.739,23.346 16.77,14.985 23.172,8.9 14.306,8.9  ">
        </polygon>
    </svg>
    <svg class="loader-star star-big" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.172px" height="23.346px"
        viewBox="0 0 23.172 23.346" xml:space="preserve">
        <polygon fill="#eeee0c"
            points="11.586,0 8.864,8.9 0,8.9 7.193,14.447 4.471,23.346 11.586,17.84 18.739,23.346 16.77,14.985 23.172,8.9 14.306,8.9  ">
        </polygon>
    </svg>
</div>
</div>

</div>

