<!-- дів для фону -->
<div class="recipes-modal-container" id="recipesModal">
  <!-- is-hidden -->

  <!-- дів для модального вікна -->
  <div class="modal-recipes-wrap">
    <!-- кнопка закриття вікна -->
    <button
      type="button"
      class="close-recipes-btn"
      id="closeButtonRecipes"
      aria-label="Close button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="none"
        class="close-recipes-icon"
      >
        <path
          d="M15 5L5 15"
          stroke="#050505"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5 5L15 15"
          stroke="#050505"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <!-- дів для рендера рецепту -->
    <div class="card-markup-modal"></div>

    <!-- дів для кнопок -->
    <div class="extra-modal-button">
      <button class="modal-add-favorite">Add to favorite</button>
      <button class="modal-give-rating">Give a rating</button>
    </div>
  </div>
</div>
