<div class="modal-rating-backdrop"> 
<div class="modal-rating-wrap">
<div class="modal-rating-card">
<button type="button" class="modal-rating-close">
   
   
    <svg class="modal-rating-icon">
        <use href="/src/images/icon.svg#icon-close-modal"></use>
    </svg>
</button>


<!-- ===== STARS ===== -->

<form class="modal-rating-form" name="modal-rating-form" autocomplete="on" id="modalRatingForm">
    <h3 class="modal-rating-title">Rating</h3>
    <div class="modal-rating modal-rating-set">
    <div class="modal-rating-value">1.0</div>
    <div class="modal-rating-body">
    <div class="modal-rating-active"></div>
    <div class="modal-rating-items">
    <input type="radio" class="modal-rating-item" value="1" name="rating">
    <input type="radio" class="modal-rating-item" value="2" name="rating">
    <input type="radio" class="modal-rating-item" value="3" name="rating">
    <input type="radio" class="modal-rating-item" value="4" name="rating">
    <input type="radio" class="modal-rating-item" value="5" name="rating">
     
    </div>  
    </div>  
    </div>  
        <input class="modal-rating-email-input" type="email" name="email" id="email" placeholder="Enter e-mail" required/>
            <button type="submit" class="modal-rating-btn-submit">Send</button>
    </form>

    <!-- ===== /STARS ===== -->
    

</div>
</div>
</div>
