<!--          form                        -->
<div class="modal-order-backdrop">
<div class="modal-order-wrap">
    <button type="button" class="modal-order-close">
      
    
        <svg class="modal-order-icon">
            <use href="/src/images/icon.svg#icon-close-modal"></use>
        </svg>
    </button>
    <h3 class="modal-order-title">Order now</h3>
<form class="modal-order-form" name="modal_order_form" autocomplete="on" id="modalOrderForm">
   
        <!--            Name                    -->
        <div class="modal-order-inputs">
            <span class="modal-order-tag">Name</span>
            <label class="modal-order-name">
                <input class="modal-order-input required-field" type="text" name="user_name" required
                    pattern="[А-ЯІЇЄҐа-яіїєґA-Za-z]{2,}(\s[А-ЯІЇЄҐа-яіїєґA-Za-z]{2,})?" placeholder="Name Surname" />
            </label>
        </div>

        <!-- Email -->
        <div class="modal-order-inputs">
            <span class="modal-order-tag">Email</span>
            <label class="modal-order-email">
                <input class="modal-order-input required-field" type="email" name="user_email" required
                    placeholder="example@gmail.com" />
            
            </label>
        </div>

        <!-- Phone -->
        <div class="modal-order-inputs">
            <span class="modal-order-tag">Phone number</span>
            <label class="modal-order-phone">
                <input class="modal-order-input required-field" type="tel" name="user_phone" required pattern="[0-9]{10}"
                    placeholder="0123456789" />
               
            </label>
        </div>

        <!-- Comment -->
        <div class="modal-order-textarea">
            <span class="modal-order-comment">Comment</span>
            <label class="modal-comment-label">
                <textarea name="user_comment" class="user-massage modal-order-input"
                    placeholder="Enter your message..."></textarea>
                
            </label>
        </div>
   

    <button type="submit" id="submitButton" class="modal-order-btn">
        Send

    </button>
</form>
</div>
</div>