<!-- дів для фону -->
<div class="recipes-modal-container" id="recipesModal">
  <!-- is-hidden -->

  <!-- дів для модального вікна -->
  <div class="modal-recipes-wrap">
    <!-- кнопка закриття вікна -->
    <button
      type="button"
      class="close-recipes-btn"
      id="closeButtonRecipes"
      aria-label="Close button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="none"
        class="close-recipes-icon"
      >
        <path
          d="M15 5L5 15"
          stroke="#050505"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5 5L15 15"
          stroke="#050505"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <!-- дів для рендера рецепту -->
    <div class="card-markup-modal">
      <!-- дів для обміну місцями відео й заголовка -->
      <div class="modal-reverse-title">
        <a
          class="youtube-link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.youtube.com/watch?v=dsJtgmAhFF4"
        >
          <img
            class="modal-iframe-video"
            src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678560403/zyahxajhkglf8sisiqlh.jpg"
            alt="Recipe video"
            width="295"
            height="295"
          />
          <svg width="38" height="38" fill="none" class="icon-youtube">
            <path
              stroke="#F8F8F8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M35.688 5.165a4.401 4.401 0 0 0-3.071-3.167C29.893 1.333 19 1.333 19 1.333s-10.893 0-13.617.729a4.402 4.402 0 0 0-3.071 3.166 45.918 45.918 0 0 0-.729 8.376c-.017 2.83.226 5.655.729 8.44a4.401 4.401 0 0 0 3.071 3.04c2.724.728 13.617.728 13.617.728s10.893 0 13.617-.729a4.402 4.402 0 0 0 3.071-3.166c.495-2.743.739-5.526.729-8.313a45.912 45.912 0 0 0-.729-8.439Z"
            ></path>
            <path
              stroke="#F8F8F8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m15.438 18.782 9.104-5.178-9.105-5.177v10.355Z"
            ></path>
          </svg>
        </a>
        <h3 class="modal-recipe-name">BANANA PANCAKES</h3>
      </div>

      <div class="modal-general-info">
        <!-- Matt start-->
        <div class="card-star-modal">
          <!-- <p class="modal-raiting cards-raiting">4.5</p>
          <div class="starts-modal rating-wrapper"></div>
          <p class="modal-card-time">40 min</p> -->
        </div>
        <!-- Matt end-->

        <div class="modal-reverse-list">
          <ul class="modal-ingradient-list">
            <li class="modal-name-ingradient">
              Banana
              <span class="modal-measure">1 large</span>
            </li>
            <li class="modal-name-ingradient">
              Eggs
              <span class="modal-measure">2 medium</span>
            </li>
            <li class="modal-name-ingradient">
              Oil
              <span class="modal-measure">1 tsp</span>
            </li>
            <li class="modal-name-ingradient">
              Banana
              <span class="modal-measure">1 large</span>
            </li>
            <li class="modal-name-ingradient">
              Eggs
              <span class="modal-measure">2 medium</span>
            </li>
            <li class="modal-name-ingradient">
              Oil
              <span class="modal-measure">1 tsp</span>
            </li>
            <li class="modal-name-ingradient">
              Banana
              <span class="modal-measure">1 large</span>
            </li>
            <li class="modal-name-ingradient">
              Eggs
              <span class="modal-measure">2 medium</span>
            </li>
            <li class="modal-name-ingradient">
              Oil
              <span class="modal-measure">1 tsp</span>
            </li>
          </ul>
          <!-- Teg -->
          <ul class="modal-hashtag-list">
            <li class="modal-hashtag-item">#Breakfast</li>
            <li class="modal-hashtag-item">#Desert</li>
            <li class="modal-hashtag-item">#Sweet</li>
            <li class="modal-hashtag-item">#Sweet</li>
          </ul>
        </div>

        <p class="modal-recipe-instructions">
          Mash the ripe banana in a medium mixing bowl. Add the egg and whisk
          together until well combined. Add the flour, baking powder, cinnamon
          (if using), and salt, and stir until just combined. Heat a non-stick
          skillet or griddle over medium heat and add the vegetable oil or
          melted butter. Scoop the batter onto the skillet or griddle using a
          1/4 cup measure, and cook for 2-3 minutes on each side, or until the
          pancakes are golden brown and cooked through. Serve warm with your
          favorite toppings such as maple syrup, sliced bananas, or whipped
          cream.Mash the ripe banana in a medium mixing bowl. Add the egg and
          whisk together until well combined. Add the flour, baking powder,
          cinnamon (if using), and salt, and stir until just combined. Heat a
          non-stick skillet or griddle over medium heat and add the vegetable
          oil or melted butter. Scoop the batter onto the skillet or griddle
          using a 1/4 cup measure, and cook for 2-3 minutes on each side, or
          until the pancakes are golden brown and cooked through. Serve warm
          with your favorite toppings such as maple syrup, sliced bananas, or
          whipped cream.
        </p>
      </div>
    </div>

    <!-- дів для кнопок -->
    <div class="extra-modal-button">
      <button class="modal-add-favorite">Add to favorite</button>
      <button class="modal-give-rating">Give a rating</button>
    </div>
  </div>
</div>
