<div class="modal-rating-backdrop"> 
<div class="modal-rating-wrap">
<div class="modal-rating-card">
<button type="button" class="modal-rating-close">
    <!-- <svg class="modal-btn-icon" width="24" height="24">
        <use href="#"></use>
    </svg> -->
   
    <svg class="modal-rating-icon">
        <use href="/src/images/icon.svg#icon-close-modal"></use>
    </svg>
</button>


<!-- ===== STARS ===== -->

<form class="rating-form" name="rating-form" autocomplete="on" id="myForm">
    <h3 class="modal-title">Rating</h3>
    <div class="rating rating-set">
    <div class="rating-value">1.0</div>
    <div class="rating-body">
    <div class="rating-active"></div>
    <div class="rating-items">
    <input type="radio" class="rating-item" value="1" name="rating">
    <input type="radio" class="rating-item" value="2" name="rating">
    <input type="radio" class="rating-item" value="3" name="rating">
    <input type="radio" class="rating-item" value="4" name="rating">
    <input type="radio" class="rating-item" value="5" name="rating">
     
    </div>  
    </div>  
    </div>  
        <input class="rating-email-input" type="email" name="email" id="email" placeholder="Enter e-mail, dude" required/>
            <button type="submit" class="rating-btn-submit">Send</button>
    </form>

    <!-- ===== /STARS ===== -->
    

</div>
</div>
</div>
